### Custom kinematics file I created to prevent printer.cfg from getting too large. Place in same directory as printer.cfg
#####################################################################
# 	kinematics 
#####################################################################

[printer]
kinematics: corexy
max_velocity: 200
max_accel: 7400
##depreciated max_accel_to_decel: 2500
minimum_cruise_ratio: 0.5
max_z_velocity: 50
max_z_accel: 100
square_corner_velocity: 4.5
  